/* хедер */

.header{
    display: grid;
    grid-template-columns: 1fr 148px 1fr;
    justify-items: center;
    align-items: center;
    padding: 92px 50px 92px 50px;
    height: 293px;
    width: 1100px;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.header__links-list{
    display: flex;
    align-items: center;
    list-style-type: circle;
    gap: 30px;
    justify-self: center;
    
    
}
.header__links-list-item{
    position: relative;
    text-underline-offset: 4px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}
.header__links-list-item_no-bullet{
    list-style-type:none;
    display: flex;
    display: list-item;
}
.header__menu-link_active{
    text-decoration: none;
}
.menu{
    margin-right: 35px;
}

.header__logo{
    display: flex;
    justify-content: center;
    margin: 0;
    width: 100%;
    
}
.header__logo-image{
    height: 105px;
}
.header_address{
    justify-self: end;
    padding-right:37px ;
}
.header__link_active_img{
    width: 148;
}

/* главная секция */

.cover{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    position: relative;
    background-image: url(/images/cover.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    height: 757px;
    width: 1100px;
}
.overlay{
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}
.cover_title{
    z-index: 2;
    font-family: "Raleway", sans-serif;
    color: white;
    font-weight: 700;
    font-size: 100px;
    margin-top: 173px;
    letter-spacing: 0.3em;
    
}
.aligned-text_left{
    margin-bottom: 10px;
}
.aligned-text{
    display: block;
   margin-left: 48px;
}
.aligned-text_center{
    display: block;
    margin-right: 28px;
    text-align: center;
    
}
.aligned-text_right{
    display: block;
    text-align: end;
    margin-right: 20px;

}
.letter-spacing-extended{
    letter-spacing: 0.63em;
}
.cover__description{
    display: flex;
    color: white;
    z-index: 2;
    justify-content: space-between;
}
.cover__description-text{

}
.bet-button{
    
}
