@import url(/fonts/fonts.css);
/* хедер */

.header {
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  justify-items: center;
  align-items: center;
  padding: 92px 50px 92px 50px;
  height: 293px;
  width: 1100px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.header__links-list {
  display: flex;
  align-items: center;
  list-style-type: circle;
  gap: 30px;
  justify-self: center;
}
.header__links-list-item {
  position: relative;
  text-underline-offset: 4px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}
.header__links-list-item_no-bullet {
  list-style-type: none;
  display: flex;
  display: list-item;
}
.header__menu-link_active {
  text-decoration: none;
}
.menu {
  margin-right: 35px;
}

.header__logo {
  display: flex;
  justify-content: center;
  margin: 0;
  width: 100%;
}
.header__logo-image {
  height: 105px;
}
.header_address {
  line-height: 24px;
  font-style: inherit;
  justify-self: end;
  padding-right: 37px;
}
.header__link_active {
  text-underline-offset: 4px;
}
.header__link_active_img {
  width: 148;
}

/* главная секция */

.cover {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  position: relative;
  background-image: url(/images/cover.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  height: 757px;
  width: 1100px;
}
.overlay {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.cover_title {
  z-index: 2;
  font-family: "Raleway", sans-serif;
  color: white;
  font-weight: 700;
  font-size: 100px;
  margin-top: 163px;
  letter-spacing: 0.3em;
}
.aligned-text_left {
  margin-bottom: 10px;
}
.aligned-text {
  display: block;
  margin-left: 48px;
}
.aligned-text_center {
  display: block;
  margin-right: 45px;
  text-align: center;
}
.aligned-text_right {
  display: block;
  text-align: end;
  margin-right: 20px;
}
.letter-spacing-extended {
  letter-spacing: 0.6em;
}
.cover__description {
  display: flex;
  position: relative;
  flex-direction: row;
  text-wrap: nowrap;
  text-transform: uppercase;
  column-gap: 78px;
  color: white;
  z-index: 2;
  align-items: flex-start;
  height: 100px;
  margin-left: 68px;
}
.cover__description-text {
  display: block;
  word-spacing: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 21.5px;
  padding-right: 8px;
  padding-top: 11px;
  margin-left: 10px;
}
.bet-button {
  display: block;
  height: 51px;
  width: 256px;
  font-size: 22px;
  margin-top: -2.5px;
  margin-left: -8px;
  text-transform: uppercase;
  background-color: transparent;
  color: white;
  border-color: white;
}

/* Лоты */
.lots {
  margin: 179px 24px 0 56px;
  height: 692px;
  width: 1052px;
  margin-bottom: 100px;
}
.lots__heading {
  padding-left: 6px;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  font-weight: bold;
}
.lots__card-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 692px;
  gap: 25px;
}
.card_type_film {
  background-color: rgb(52, 1, 1);
  background-image: url(/images/card-lot-01.jpg);
}

.card_type-book {
  background-image: url(/images/card-lot-02.jpg);
}
.card_type-picture {
  background-image: url(/images/card-lot-03.jpg);
}

.card_image {
  display: flex;
  background-size: 100%;
  background-size: cover;
  background-position: center;
  justify-content: space-between;
  width: 334px;
  height: 563px;
  margin-top: 26px;
  margin-left: -32px;
}
.overlay_lots {
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.6);
}
.card_title {
  color: white;
  text-decoration: underline;
}
.card_text {
  align-items: end;
  text-align: start;
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: normal;
}
.lots__card-list-item {
}
.card-link {
  text-decoration: none;
  display: block;
  height: 100%;
}
.card-link {
  align-items: end;
}

.card_text-book {
  margin-top: 190px;
}
